<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold" href="/">
      Avanza Education
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <% if (session && session.userId) { %>
          <li class="nav-item">
            <a class="btn btn-outline-primary ms-3" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
                      <a href="/login" class="btn btn-primary" style="background-color: #FF8C00; border-color: #FF8C00;">Login</a>

          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
