<div class="stat-group">
    <div class="stat-number">98%</div>
    <div class="stat-description">student satisfaction rating</div>
</div>

<div class="stat-group">
    <div class="stat-number">500+</div>
    <div class="stat-description">alumni</div>
</div>

<div class="stat-group">
    <div class="stat-number">$3,000,000+</div>
    <div class="stat-description">in scholarships awarded</div>
</div>